$font: "myriad pro",
sans-serif;
$orange: #f58128;

* {
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-nav {
  background: #000;
  height: 60px;

  &__logo {
    margin: 12px 25px;
    background-image: url(assets/cam_logo.png);
    background-repeat: no-repeat;
    height: 37px;
    width: 200px;
  }
 
  &__links {
    color: white;
    margin: 16px 0;
    padding-right: 40px;
    text-align: right;

    li {
      padding: 0 5px;

      a {
        text-decoration: none;
        height: 30px;
        width: 472px;
        color: #ffffff;
        font-family: $font;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 30px;
      }
    }
  }
}

li {
  display: inline; 
}

.main-nav {
  text-decoration: none;
  padding: 30px 100px 0 89px;

  // &__logo {
  //   background-image: url(assets/logo_black.svg);
  //   background-repeat: no-repeat;
  //   width: 218px;
  //   height: 73px;
  // }

  &__links {
    text-align: right;
    padding: 0 !important;
  }

  &__first-links {
    height: 30px;
    color: #818181;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;

    ul>li {
      padding: 0 6px;
    }

    li:last-child {
      padding-right: 12px;
    }
  }

  &--search-icon {
    height: 18px;
    width: 18px;
  }

  &__second-links {
    height: 30px;
    color: #000000;
    font-family: $font;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;

    ul>li {
      padding: 0 10px;
    }

    li:last-child img {
      padding-right:20px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.main-content {
  margin: 31px 96px 0 94px !important;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; // had to change to make it fit
 // height: 560px;
 padding-top: 44.8%;

  position: relative;

  &__overlay {
    position: absolute;
    top: 51%;
    left: 0x;
    z-index: 2;
    height: 100px;
    background-color: $orange;

    h2 {
      color: #ffffff;
      font-family: $font;
      font-size: 60px;
      letter-spacing: 0px;
      line-height: 72px;
      text-align: center;
      padding: 10px 40px 17px 40px;
    }
  }

  &__pixel {
    position: absolute; 
    top: 661px;
    right: 36px;
    height: 180px;
    width: 300px;
    transform: rotate(-90deg);
    background-image: url(assets/Pixels/orange.svg);
  }
}

.intro {
 // margin: 82px 305px 0px 304px !important;
margin-top: 82px;

  h3 {
    color: #000000;
    font-family: $font;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
    width: 80%;
    margin-left: auto;
margin-right: auto;
  }
}

.paragraph {
  // margin: 13px 305px 0px 304px !important;
margin-top: 13px;
  p {
    color: #838383;
    font-family: $font;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
    width: 80%;
    margin-left: auto;
margin-right: auto;
  }
}

.buttons {
 margin-top: 61px;

 &__link {
  &:first-child {
    margin-right: 30px;
  }
 }

  a:link {
    text-decoration: none;
    justify-content: center;
  position: relative;
  background-color: #f0f0f0;
  display: inline-block;
  text-align: left;
    width: 100%;
    padding-top: 13.1%;
    padding-bottom: 24px;
    padding-left: 39px;


}

  &__pixel {
    &--aqua {
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url(assets/Pixels/light_blue.svg);
      background-size: cover;
      height: 48px;
      width: 80px;
      z-index: 3;
    }

    &--blue {
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url(assets/Pixels/dark_blue.svg);
      background-size: cover;
      height: 48px;
      width: 80px;
      z-index: 3;
    }
  }
}

.cta-title {
  color: #000000;
  font-family: $font;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1.25px;
  line-height: 37px;
}

.line-before {
  position: relative;
  margin-top: 17px;

  &::before {
    position: absolute;
    left: 0px;
    top: 14px;
    background: #f58128;
    width: 30px;
    height: 2px;
    content: "";
  }

  .cta-text {
    margin-left: 40px;
    color: #f58128;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.93px;
    line-height: 30px;
  }
}

.teasers {
  justify-content: center;

  &__title h2 { 
    margin-top: 88px;
    margin-bottom: 34px;
    color: #000000;
    font-family: $font;
    font-size: 60px !important;  
    font-weight: 600;
    letter-spacing: -2.5px;
    line-height: 72px;
    text-align: center;
  }
}

.news-posts {
  justify-content: center;
  margin-left: 39px !important;
  padding: 0 !important;
  margin-right: 41px !important;
  margin-bottom: 30px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.content-news {
  margin-left: 18px;

  &--large {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 510px;
    margin-right: 30px;
    position: relative;

    &__time-date {
      position: absolute;
      top: 315px;
      left: 43px;
      color: #ffffff;
      font-family: $font;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.4px;
      line-height: 14px;
      z-index: 3;
      margin: 0 !important;

      .rectangle {
        content: "";
        background-color: #fdfdfe;
        height: 2px;
        width: 2px;
        margin: 5px 9px 4px 9px;
        align-items: center;
        justify-content: center;
      }
    }

    &__title {
      position: absolute;
      top: 342px;
      left: 40px;
      width: 636px;
      color: #ffffff;
      font-family: $font;
      font-size: 40px;
      font-weight: 600;
      letter-spacing: -1.67px;
      line-height: 40px;
      z-index: 3;
    }
  }

  &--small {
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    width: 100%;
    margin-right: 135px;
    margin-left: 0px;
    position: relative;

    &__time-date {
      position: absolute;
      top: 100px;
      left: 25px;
      color: #ffffff;
      font-family: $font;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.4px;
      line-height: 14px;
      z-index: 3;
      margin: 0 !important;

      .rectangle {
        content: "";
        background-color: #fdfdfe;
        height: 2px;
        width: 2px;
        margin: 5px 9px 4px 9px;
        align-items: center;
        justify-content: center;
      }
    }

    &__title {
      position: absolute;
      top: 120px;
      left: 25px;
      width: 304x;
      color: #ffffff;
      font-family: $font;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: -1.08px;
      line-height: 28px;
      z-index: 3;
    }
  }

  // &--4 {
  //   background-color: $orange;
  //   width: 100%;
  //   height: 510px !important;
  //   position: relative;
  //   margin-right: 30px !important;
  //   margin-top: 30px !important;
  //   padding: 0 !important;
  // }

}

.content-news--small + .content-news--small{ margin-top: 30px; } 


.twitter {
  &__banner {
    padding: 40px 0 0 55px !important;
    display: flex;
    align-items: center;
  }

  &__image {
    height: 16px;
    width: 20px;
    padding: 0px !important;
  }

  &__title {
    padding: 0 0 0 12px !important;
    margin-bottom: 0 !important;
    color: #ffffff;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 18px;
  }

  &--content {
    margin: 42px 54px 0 40px;
    color: #ffffff;
    font-family: $font;
    font-size: 21px;
    letter-spacing: -0.88px;
    line-height: 26px;

    p {
      margin: 0 !important;
    }
  }

  &__button--follow {
    cursor: pointer;
    margin: 80px 0 0 55px !important;
    font-family: $font;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 14px 0 15.9px 0 !important;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.93px;
    line-height: 30px;
    text-align: center;
  }

  &--scroll {
    margin: 104px 45px 0 57px;
    padding: 0 !important;
  }
}

.circle {
  margin: 0 !important;
  justify-content: flex-end;

  &--fill {
    height: 11px !important;
    width: 11px !important;
    border: 0.5px solid #ffffff;
    padding: 0 !important;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0px;
  }

  &--empty {
    height: 11px !important;
    width: 11px !important;
    border: 0.5px solid #ffffff;
    padding: 0px !important;
    border-radius: 50%;
    margin-left: 10px;
  }
}

.bottom-banner {
  width: 100%;
  max-width: 100%;
  height: 438.69px;
  background-image: url(assets/Hauser-Forum-1500-x-592.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 132.05px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &--cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-top: 130px;

    h1 {
      color: #ffffff;
      font-family: $font;
      font-size: 60px;
      font-weight: 600;
      letter-spacing: -2.5px;
      line-height: 72px;
    }
  }

  &__text {
    margin: 5.75px auto 0 auto;
    width: 730px;

    p {
      color: #fdfdfe;
      font-family: $font;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
    }
  }

  &__button {
    margin-top: 35px;

    button {
      background-color: #f58128;
      border: none;
      padding: 13.02px 37px 14.95px 38px !important;
      color: #ffffff;
      font-family: $font;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.93px;
      line-height: 30px;
    }
  }
}

.footer {
  &--one {
    background-color: #000;
    height: 376.82px;
    padding-left: 135px;
    max-width: 100%;
    width: 100%;
    margin: 0 !important;

    h3 {
      margin-top: 44.96px;
      padding-bottom: 9.2px;
      color: #ff7900;
      font-family: $font;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 27px;
      border-bottom: solid 1px #fdfdfe;
    }

    p {
      color: #ffffff;
      font-family: $font;
      width: 285px;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 26px;
    }

    ul {
      list-style: none;
      padding-inline-start: 0 !important;

      justify-content: space-between;

      li {
        color: #ffffff;
        font-family: $font;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 27px;
        display: block;
      }
    }
  }

  &--two {
    height: 100.49px;
    max-width: 100%;
    width: 100%;
    background-color: #1b1b1b;
    color: #f8f8f8;
    font-family: $font;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0px !important;
  }
}

.cam-ent__logo {
  margin-top: 77.3px;
  margin-right: 135px;
  text-align: right;
}

.twitter {
  color: #ffffff;
  font-family: $font;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: -20px;
}

.linkedin {
  &-icon {
    height: 19.32px;
    width: 20px;
    margin-left: 60px
  }

  color: #ffffff;
  font-family: $font;
  font-size: 18px;
  letter-spacing: 0;
  margin-left: 40px;
  line-height: 27px;
}

.link {
  &-one {
    padding-left: 135px !important;
    margin-top: 37.23px;
  }

  &-two {
    padding-right: 135px !important;
    text-align: right;
    margin-top: 37.23px;
  }
}

a {
  text-decoration: none !important;
  color: inherit !important;

  &:hover {
    text-decoration: none !important;
    color: inherit !important;
  }
}

@media (max-width: 1370px) {
  .twitter {
    &--content {
      font-size: 16px;
      margin: 26px 30px 0 40px;
    }
    &__banner {
      padding-left: 40px !important;
    }

    &__button--follow {
      margin: 25px 0 0 57px  !important;
      font-size: 12px;
      padding: 8px 0 9px 0 !important
    }

    &--scroll {
      margin: 29px 0px 0 22px !important;
    }
  }

  .content-news {
    &--small {
      &__title {
        font-size: 22px;
        top: 142px;
        left: 18px;
      }
      &__time-date {
        top: 116px;
        left: 18px;
      }
    }
  }

  .twitter {
    margin-left: -4px;
  }
  .linkedin {
    margin-left: 55px;
  }
}

.brochure {
  width: 100%;
  background-color: #F5F5F5;
  height: 680px;
  margin-top:64px;
  padding-top: calc(680px + -40%); 

  &__img {
    background-color: #D8D8D8;
    text-align: right;
    width: 70%;
    padding-top: 86.47%;
    display: flex;
    justify-content: center;

  }

  &__text {
    h3 {
      color: #000000;
      font-family: $font;
      font-size: 50px;
      font-weight: 600;
      letter-spacing: -2.08px;
      line-height: 61px;
    }
    p {
      padding-top: 12px;
      color: #838383;
      font-family: "Myriad Pro";
      font-size: 18px;
      letter-spacing: 0;
      line-height: 27px;
    }
  }

  &__btn {
   background-color: #E87722;
   width: 134px;
   margin-top: 35px;
   cursor: pointer;
   p{
    padding: 14px 15px 16px;
    color: #FFFFFF;
    font-family: $font;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.93px;
    line-height: 30px;
    text-align: center;
   }
  }
}