* {
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_nav {
  background: #000;
  height: 60px;

  &--logo {
    margin: 12px 25px;
    background-image: url(assets/cam_logo.png);
    background-repeat: no-repeat;
   height: 37px;
    width: 200px;
  }

  &--links {
    margin: 16px 0 16px 75px;
    text-align: right;
    li {
      padding: 0 5px;
      a {
        text-decoration: none;
        height: 30px;
        width: 472px;
        color: #ffffff;
        font-family: "myriad pro", sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 30px;
      }
    }
  }
}

li {
  display: inline;
}

.main-nav {
    text-decoration: none;
    margin: 30px 94px 0 89px !important;

  &--row {
    margin-right: 0 !important;
  }

  &__logo {
    background-image: url(assets/logo_black.svg);
    background-repeat: no-repeat;
    width: 218px;
    height: 73px;
  }

  &__links {
    text-align: right;
    padding: 0 !important;
  }

  &__first-links {
    height: 30px;
    color: #818181;
    font-family: "Myriad Pro";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;

    ul > li {
      padding-left: 12px;
    }
  }

  &--search-icon {
    height: 18px;
    width: 18px;
  }

  &__second-links {
    height: 30px;
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    ul > li {
      padding-right: 0 !important;
    }
  }
}

.main-content {
  &--banner {
    background-image: url(assets/chessboardfeature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1159px; // had to change to make it fit
    height: 560px;
    margin: 31px 96px 0 94px !important;
    position: relative;
  }

  &--banner__overlay {
    position: absolute;
    top: 476px;
    left: 94px;
    z-index: 2;
    height: 100px;
    width: 534px;
    background-color: #F58128;
    
    p {
      color: #FFFFFF;
    font-family: "Myriad Pro";
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2.5px;
    line-height: 72px;
    text-align: center;
    padding: 10px 0 17px 0;
    }
  }
}
