* {
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_nav {
  background: #000;
  height: 60px;
}
.top_nav--logo {
  margin: 12px 25px;
  background-image: url(assets/cam_logo.png);
  background-repeat: no-repeat;
  height: 37px;
  width: 200px;
}
.top_nav--links {
  margin: 16px 0 16px 75px;
  text-align: right;
}
.top_nav--links li {
  padding: 0 5px;
}
.top_nav--links li a {
  text-decoration: none;
  height: 30px;
  width: 472px;
  color: #ffffff;
  font-family: "myriad pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 30px;
}

li {
  display: inline;
}

.main-nav {
  text-decoration: none;
  margin: 30px 94px 0 89px !important;
}
.main-nav--row {
  margin-right: 0 !important;
}
.main-nav__logo {
  background-image: url(assets/logo_black.svg);
  background-repeat: no-repeat;
  width: 218px;
  height: 73px;
}
.main-nav__links {
  text-align: right;
  padding: 0 !important;
}
.main-nav__first-links {
  height: 30px;
  color: #818181;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  text-align: right;
}
.main-nav__first-links ul > li {
  padding-left: 12px;
}
.main-nav--search-icon {
  height: 18px;
  width: 18px;
}
.main-nav__second-links {
  height: 30px;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
}
.main-nav__second-links ul > li {
  padding-right: 0 !important;
}

.main-content--banner {
  background-image: url(assets/chessboardfeature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1159px;
  height: 560px;
  margin: 31px 96px 0 94px !important;
  position: relative;
}
.main-content--banner__overlay {
  position: absolute;
  top: 476px;
  left: 94px;
  z-index: 2;
  height: 100px;
  width: 534px;
  background-color: #F58128;
}
.main-content--banner__overlay p {
  color: #FFFFFF;
  font-family: "Myriad Pro";
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -2.5px;
  line-height: 72px;
  text-align: center;
  padding: 10px 0 17px 0;
}